#search-condition-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#advanced-search {
    height: 30px;
    width: 30px;
    margin: 10px;
}
#advanced-search-condition {
    padding: 5px;
    border-radius: 15px;
    margin-top: 5px;
    background-color: rgba(240, 240, 240, 0.8);
    box-shadow: 5px 5px 10px rgba(120, 120, 120, 0.3);
}