#control-panel-toggle {
    top: 0px;
    left: 0px;
    z-index: 1;
    display: grid;
    place-items: center;
    pointer-events: none;
}

#control-panel-toggle-button {
    width: 36px;
    height: 36px;
    z-index: 1;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 3px 3px rgba(128, 128, 128, 0.5);
    pointer-events: all;
}