#control-panel {
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
    transition: width 0.1s ease-in-out;
}


#date-picker-container {
    padding: 10px;
    height: 10%;
}

#tracklist th, td {
    white-space: nowrap;
    background-color: transparent;
}

#app-bar {
    background-color: #e95800;
    height: 9%;
}
#title {
    margin: auto;
    padding: 10px 20px;
}
#tracklist-container {
    width: 100%;
    height: 77%;
    overflow: auto;
    display: inline-flex;
}