#control-panel-toggle {
    top: 0px;
    left: 0px;
    z-index: 1;
    display: grid;
    place-items: center;
}

#control-panel-toggle-button {
    width: 36px;
    height: 36px;
    z-index: 1;
    color: #e95800;
    background-color: white;
    border-radius: 50%;
}