.control-panel {
    overflow: auto;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    opacity: 0.8;
    height: 100%;
    z-index: 1;
}

.track {
    display: flex;
}

.track-color {
    width: 20px;
}

#data-picker-container {
    margin: 10px;
}