#playlist-container th, td {
    white-space: nowrap;
    background-color: transparent;
    user-select: none;
}

#playlist-container {
    position: relative;
    height: 100%;
}

.playback-range-canvas {
    position: relative;
    height: 50px;
}

#playlist-table {
    table-layout: fixed;
    width: 100%;
}
#playlist-table .playback-range-cell {
    padding: 0px;
}
#pilotname {
    width: 100px;
}
