#playlist-container th, td {
    white-space: nowrap;
    background-color: transparent;
    user-select: none;
}

#playlist-container {
    flex-grow: 1;
    position: relative;
}

#playlist-table .timeline-canvas {
    position: relative;
    height: 50px;
}

#playlist-table {
    flex-grow: 1;
    table-layout: fixed;
}
#playlist-table .timeline-cell {
    padding: 0px;
}
#playlist-table .timeline-container {
    padding: 0px;
}
#pilotname {
    width: 100px;
}
