#back-button-container {
    display: flex;
    padding: 10px;
    height: 25px;
}

#back-button-icon {
    width: 25px;
    height: 25px;
    color: #505050;
}

#back-button {
    height: 25px;
    color: #505050;
}

#playback-title {
    text-align: center;
    padding: 20px;
}

#playback-control-panel {
    height: 100%;
    display: flex;
    flex-direction: column;
}