#timeline-overlay {
    position: fixed;
    top: calc(100% - 45px - 20px - 75px);
    left: 0px;
    width: 100%;
    height: calc(75px + 20px);
    z-index: 0;
    pointer-events: none;
}

#timeline-container {
    position: relative;
    top: 0px;
    height: 75px;
    width: 100%;
    background-color: rgba(200, 200, 200, 0.2);
    pointer-events: all;
}

.overall-timeline-container {
    position: fixed;
    top: calc(100% - 45px - 20px);
    left: 0px;
    width: 100%;
    height: 20px;
    pointer-events: all;
}
.overall-timeline-canvas {
    height: 100%;
    width: 100%;
}