#main {
    position: fixed;
    height: 100%;
    width: 100%;
}

#cesium {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.cesium-infoBox-title {
    background-color: gray;
}
.cesium-infoBox-iframe {
    background-color: gray;
}
.cesium-infoBox {
    width: 300px;
    background-color: gray;
}