#playlist-container th, td {
    white-space: nowrap;
    background-color: transparent;
    user-select: none;
}

#playlist-container {
    flex-grow: 1;
    position: relative;
}

#playlist-table .timeline-canvas {
    position: relative;
    height: 50px;
    width: 100%;
}

#playlist-table {
    flex-grow: 1;
    table-layout: fixed;
}
#playlist-table .timeline-cell {
    padding: 0px;
}
#playlist-table .timeline-container {
    padding: 0px;
}
.piloticon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.pilotcell {
    width: 120px;
}
.pilotcell .pilotname-container{
    overflow: hidden;
    white-space: nowrap;
}
.pilotcell div {
    display: flex;
    align-items: center;
}
