#date-picker-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#date-picker{
    width: 150px;
}
#advanced-search {
    height: 30px;
    width: 30px;
    margin: 10px;
}