#track-point-stats-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 370px;
    margin: 5px 5px 5px auto;
    padding: 0px 0px 10px;
    background-color: rgba(200, 200, 200, 0.85);
    border-radius: 10px;
}

.piloticon {
    width: 40px;
    height: 40px;
}

#track-point-expand-stats {
    position: absolute;
    top: 20px;
    left: calc(100% - 40px);
}

#track-point-stats-content {
    padding: 5px;
}